/* components */

header {
    background-color: #fff;
    width: 100%;
    padding: 0.5rem 4rem;
    font-size: var(--fs-300);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgb(200 200 200 / 40%) 1px 2px 3px 2px;
    position: fixed;
    top: 0;
    z-index: 2;
}
header > h1 {
    flex-basis: max(40%, min-content);
    padding: 0 40px;
    color: hsl(var(--clr-secondary-400))
}
nav {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-end;
}
nav > ul {
    display: flex;
    justify-content: flex-end;
    flex-basis: 70%;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li{
    margin: 5px 15px ;
}
li > a {
    text-decoration: none;
}
nav > button {
    flex-basis: 25%;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: hsl(var(--clr-primary-400));
    border: none;
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin: 0 20px;
    cursor: pointer;
}
nav > button:hover {
    background-color: hsl(var(--clr-secondary-400));
    color: white;
}
.scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 20px;
}

/* Testimonial styles */
.testimonial-grid {
    padding-block: 5rem 2rem;
    width: min(95%, 70rem);
    margin-inline: auto;
    display: grid;
    gap: 1.75rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-col-span-2 {
    grid-column: span 2;
}
  
  .testimonial {
    font-size: var(--fs-400);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
  }

  .testimonial:last-child {
      grid-column-start: 4;
      grid-row-start: 1;
      grid-row-end: 3;
  }
  
  .testimonial.quote {
    background-image: url("./images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: top right 10%;
  }
  
  .testimonial img {
    width: 1.75rem;
    aspect-ratio: 1;
    border-radius: 50%;
  }
  
  .testimonial .name {
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    line-height: 1;
  }
  
  .testimonial .position {
    font-size: var(--fs-300);
    opacity: 0.5;
  }
  
  .testimonial > p:first-of-type {
    font-size: var(--fs-500);
    line-height: 1.2;
  }
  
  .testimonial > p:last-of-type {
    opacity: 0.7;
  }